*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color:rgb(10, 10, 10);
    color:white;
    margin-right:20px;
    margin-left:20px;
}

img{
    width:500px;
    height:500px;
}

a{
    text-decoration: none;
    color: #ffffff;
}

li{
    list-style-type: none;
}

.main-header{
    display:flex;
    padding:20px;
}


.main-header{

}

.main-nav{
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    flex-basis:100%;

}

.main-nav ul{
    display:flex;
    margin-right:50px;
    
    
}
.main-nav li{
    margin-right:100px;
}

/* Showcase page */

.main-showcase{
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.5)), url('../images/showcase-photo.jpg');
    
    background-repeat: no-repeat;
    background-position:  50% 100%;
    background-size: 100%;
    height:500px;
    

    display:flex;
    align-items: center;
    justify-content: center;
}

.showcase-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showcase-container h1{
    margin:20px;
    font-size:3.5em;

}

.showcase-container h4{
    margin:10px;
    font-size:1.9em;
}

.showcase-container button{
    margin:50px;
    width:200px;
    height:47px;

    background-color:transparent;
    border: 1px solid white;
    color:white;
    cursor: pointer;
    transition: .4s;
}

.showcase-container button:hover{
  
    background-color:white;
    border: 1px solid black;
    color:black;
    cursor: pointer;
    
}

section{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin:50px;
}

.about-section-container{
    display:flex;
    justify-content: center;
}

.about-section-container > *{
    padding:50px;
}

.about-section-container > img{
    width:500px;
    height:500px;
    border-radius: 50%;
}

.basic-info{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.basic-info > * {
    margin:10px;
    font-size:1.5em;
}

.about-details{
    margin-left: 50px;
    white-space: nowrap;
    word-wrap: normal;
}

.social-media-link{
    display:flex;
    justify-content: center;
    
}

.social-media-link > * {
    margin-top: 20px;
    margin-left: auto;
}

.skill-main-container{
    display:flex;
    justify-content: center;
}

.skill-main-container > *{
    margin:20px;
}

.skill-container > img{
    width:300px;
    height:auto;
    border-radius: 50%;
}

.skill-container{
    border:1px solid gray;
    padding:25px;
}


.skill-container  li {
    margin-top:20px;
}

.skill-title{
    padding:20px;
    text-align: center;
}








