*{
    box-sizing: border-box;
}

body{
    
    margin:0;
    padding:0;
    
}

.container{
    display:flex;
    flex-direction: column;
    
    justify-content: stretch;
}



.main-header{
    background: gray;
    min-width:0;
    
}





.main-nav ul{
    
    justify-content: center;
    display:flex;
    margin:0;
    flex-wrap: nowrap;
    
    
    
}

.main-nav li{
    list-style-type: none;
    margin:25px;
    font-size: 2em;
    
}

.main-nav a{
    text-decoration: none;
    color:white;
}

.showcase-header{

    flex-basis:1000px;
    background-image: linear-gradient(rgba(255,255,255,.3),rgba(255,255,255,.3)),url("../images/showcase-photo.jpg");
    background-size: cover;
    background-position: center;
    
    display:flex;
    align-items: center;
    justify-content: center;
}
.showcase-header h1{
    color: black;
}
.image-logo{
    
    width:200px;
    height:200px;
    border: 5px solid black;
    border-radius: 20%;
    background-image: url('../images/logo.png');
    background-position: center;
    background-size:100%;
    background-color: #0d98ba;
    background-repeat: no-repeat;

}



.introduction-class{
    padding-left:20px;
    background:grey;
    
    
}

.introduction-class h2{
    font-size: 2.1em;
    padding: 20px 0 10px 20px;
    
}


.introduction-article{
    display:flex;
    justify-items: center;
    align-items: center;
    padding:10px;
}

.image-logo{
    display:flex;
    
    
    margin-right:20px;
}

.introduction-article p{
    font-size: 1.8em;
}

.main-footer *{
    padding:0;
    margin:0;
}

.footer-nav-container{
    display:flex;
    flex-flow: row;
    
    justify-content: space-evenly;
}



.main-footer{
    
    background: #333157;
}



.main-footer a{
    
    text-decoration: none;
    color:white;
    font-size: 1.5em;
    
}

.main-footer p{
   
    color: white;
    justify-content: center;
    font-size: 1.2em;
    display: flex;
    padding-bottom:10px;
    padding-right: 250px;
    padding-top:10px;
}

.main-footer ul{
    list-style-type: none;
    
}

.main-footer li{
    padding:20px;
}

@media (max-width:640px){

    body{
        
        margin:0;
        
    }

    .main-nav{
        margin:auto;
    }

    .main-nav ul{
        flex-direction: column;
        justify-content: center ;
        text-align: center;
    }
 
    
 
     .showcase-header h1{
         justify-content: center;
         text-align: center;
         
     }
 
     .introduction-article{
         justify-content: center;
         text-align: center;
         flex-wrap: wrap;
         padding:0;
     }
 
     .introduction-class h2{
         justify-content: center;
         text-align: center;
         padding-left:0;
     }
     .image-logo{
         
         background-repeat: no-repeat;
         background-size: cover;
         
     }
 
     .main-footer p{
         justify-content: center;
         text-align: center;
         
         padding-right:0;
     }
 
 }
 
 
 
 
 
 
 
