*{
    box-sizing: border-box;
}

body{
    padding:0;
    margin:0;
}

.container{
    display:flex;
    flex-direction: column;
    
}



.main-header{
    background: gray;
}



.main-nav ul{
    display: flex;
    justify-content: center;
    margin:0;
}

.main-nav li{
    list-style-type: none;
    margin: 25px;
    font-size: 2em;
    
}

.main-nav a{
    text-decoration: none;
    color:white;
}

.showcase-header{
   
    background-image: linear-gradient(rgba(255,255,255,.3),rgba(255,255,255,.3)),url("../images/showcase-photo.jpg");
    background-size: cover;
    background-position: center;
    flex-basis: 500px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.showcase-header h1{
    color: black;
    
   
    
}




